.pagee-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
  }
  
  .login-form h2 {
    text-align: center;
  }
  
  .hhh {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .hee {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .hee:hover {
    background-color: #45a049;
  }
  
  .hee:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  